:root {
    --mullvad-blue: #294d73;
    --mullvad-dark-blue: #192e45;
    --mullvad-green: #44ad4d;
    --mullvad-red: #e34039;
    --mullvad-logo-yellow: #ffd524;
    --mullvad-logo-brown: #d2943b;
    --mullvad-logo-beige: #ffcd86;

    --system-font: system-ui
          , -apple-system, BlinkMacSystemFont
          , "Segoe UI", Robot, Helvetica, Arial, sans-serif
          , "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    background-color: black;
}

* {
    box-sizing: border-box;
}

button,
select {
    font: inherit;
    margin: initial;
}

body {
    background-color: var(--mullvad-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: var(--system-font);
    font-size: 15px;
    gap: 20px;
    height: 350px;
    margin: initial;
    padding: 20px;
    width: 300px;
}


body {
    background-image: url("assets/world.svg");
    background-position: 50% 15%;
    background-size: 1000%;
}


.loader {
    --loader-size: 32px;
    --loader-color: currentcolor;

    animation: loader 400ms ease infinite;
    border: calc(var(--loader-size) / 5) solid;
    border-color: var(--loader-color) transparent;
    border-radius: 50%;
    height: var(--loader-size);
    opacity: 0.5;
    width: var(--loader-size);
}

@keyframes loader {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.connection {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    user-select: none;
}

.connection--loading {
    align-items: center;
    justify-content: center;
}

.connection__status {
    text-transform: uppercase;
    font-weight: bold;
}

.connection__status--connected {
    color: var(--mullvad-green);
}
.connection__status--connecting {
    color: var(--mullvad-logo-yellow);
}
.connection__status--not-connected {
    color: var(--mullvad-red);
}

.connection__city {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: -5px;
}
.connection__city::after {
    content: ",";
}

.connection__country {
    font-size: 1.25em;
}

.connection__ip {
    opacity: 0.75;
    user-select: text;
}


.selection,
.control {
    border: initial;
    padding: initial;
}

.selection {
    display: flex;
    flex-direction: column;
}

.selection__country,
.selection__server {
    margin-bottom: 10px;
    width: 100%;
}

.selection__connect {
    margin-inline-start: auto;
}


.control {
    display: flex;
    gap: 10px;
}

.control__disconnect {
    flex: 1;
}

