body {
    height: 350px;
    min-width: 300px;
}

.svg-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.options-button {
    background: initial;
    background-image: url("assets/icons8-settings.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: initial;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
}

.loader {
    --loader-size: 32px;
    --loader-color: currentcolor;

    animation: loader 400ms ease infinite;
    border: calc(var(--loader-size) / 5) solid;
    border-color: var(--loader-color) transparent;
    border-radius: 50%;
    height: var(--loader-size);
    opacity: 0.5;
    width: var(--loader-size);
}

@keyframes loader {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.connection {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    user-select: none;
}

.connection--loading {
    align-items: center;
    justify-content: center;
}

.connection__status {
    align-items: center;
    display: flex;
    font-weight: bold;
    gap: 5px;
    text-transform: uppercase;
}

.connection__status--connected {
    color: var(--mullvad-green);
}
.connection__status--connecting {
    color: var(--mullvad-logo-yellow);
}
.connection__status--not-connected {
    color: var(--mullvad-red);
}

.connection__info {
    background-image: url("assets/icons8-info(1).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    opacity: 0.5;
    height: 15px;
    width: 15px;
}

.connection__info:hover {
    opacity: 0.75;
}

.connection > .loader {
    --loader-size: 24px;
}

.connection__city {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: -5px;
}
.connection__city::after {
    content: ",";
}

.connection__country {
    font-size: 1.25em;
}

.connection__ip {
    opacity: 0.75;
    user-select: text;
}


.selection,
.control {
    border: initial;
    padding: initial;
}

.selection {
    display: flex;
    flex-direction: column;
}

.selection__country,
.selection__server {
    margin-bottom: 10px;
    width: 100%;
}

.selection__country--default:not(:focus):not(:active):not(:disabled),
.selection__server--default:not(:focus):not(:active):not(:disabled) {
    color: rgba(255, 255, 255, 0.75);
}

.selection__connect {
    margin-inline-start: auto;
}


.control {
    display: flex;
    gap: 10px;
}

.control__connect,
.control__disconnect {
    width: 100%;
}

/* Panel */

html, body {
    max-height: 100%;
    overflow: hidden;
}

.panel {
    background-color: var(--mullvad-dark-blue);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(100%);
    transition: 200ms ease;
    transition-property: transform, opacity;
    user-select: none;
    width: 100%;
    z-index: 9999;
}

.panel.panel--visible {
    transform: translateY(0);
    opacity: 1;
}

@media (prefers-reduced-motion: reduced) {
    .panel {
        transition: initial !important
    }
}

.panel__header {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}

.panel__title {
    font-size: 1.2em;
    flex: 1;
    margin: initial;
}

.panel__content {
    overflow-y: auto;
}
