:root {
    --border-color: rgba(255, 255, 255, 0.25);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.options > hr {
    border: initial;
    border-top: 1px solid var(--border-color);
    margin: initial;
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: none;
}
.option.option--inline {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.option > .option {
    flex-basis: 100%;
    margin-left: 15px;
    margin-top: 15px;
}

.option__control,
.option__label {
    pointer-events: initial;
}

.option__control {
    display: flex;
}
.option__control > input[type="text"] {
    width: 100%;
}


.option__description {
    width: 100%;
    font-size: 0.85em;
    opacity: 0.75;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
