.proxy-dns-option,
.proxy-dns-option + hr {
    display: none !important;
}

.panel__content::-webkit-scrollbar {
    width: 1em;
}
.panel__content::-webkit-scrollbar-track {
    background-color: transparent;
}
.panel__content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
}
